In [10]:
from openaq import OpenAQ
import geopandas as gpd
import requests

In [11]:
client = OpenAQ(api_key='c94a8b1050906ae2f594ebe1d94d2ea753b78096487d2279a11000e0613b8140')

First, I'll try pulling in one day's entry from a single station.

https://docs.openaq.org/aws/about

This is just an example URL to pull data:

https://openaq-data-archive.s3.amazonaws.com/records/csv.gz/locationid=2178/year=2022/month=05/location-2178-20220503.csv.gz

In [3]:
stations = gpd.read_file("Data/Outputs/edited_stations.geojson")

In [7]:
stations[:1]

,id,name,pollutant,locality,isMobile,isMonitor,country.id,country.code,country.name,owner.id,owner.name,provider.id,provider.name,coordinates.latitude,coordinates.longitude,datetimeFirst.local,datetimeLast.local,geometry
0,847,South Long Beach,pm25,None,False,True,155,US,United States,4,Unknown Governmental Organization,119,AirNow,33.792221,-118.175278,2016-03-06 20:00:00+00:00,2022-05-05 22:00:00+00:00,POINT (-118.17528 33.79222)

I'll try pulling in from this station on July 3rd, 2021 - simply because that's within the date range

In [8]:
url = "https://openaq-data-archive.s3.amazonaws.com/records/csv.gz/locationid=847/year=2021/month=07/location-847-20210703.csv.gz"

In [12]:
def download_file(url, save_path):
    response = requests.get(url, stream=True)
    
    if response.status_code == 200:
        with open(save_path, 'wb') as file:
            file.write(response.content)
        print(f'{url} downloaded')
    else:
        print(f'{url} failed')

In [13]:
download_file(url,"Data/Inputs/station_847.csv")

https://openaq-data-archive.s3.amazonaws.com/records/csv.gz/locationid=847/year=2021/month=07/location-847-20210703.csv.gz downloaded

In [14]:
station_847 = gpd.read_file("Data/Inputs/station_847.csv")

In [15]:
station_847.head()

Empty DataFrame
Columns: [‹]
Index: []

Attempt 2

In [19]:
url2 = "https://openaq-data-archive/records/csv.gz/locationid=847/year=2020/data"

In [20]:
download_file(url,"Data/Inputs/station_847.csv")

https://openaq-data-archive.s3.amazonaws.com/records/csv.gz/locationid=847/year=2021/month=07/location-847-20210703.csv.gz downloaded

In [21]:
station_847.head()

Empty DataFrame
Columns: [‹]
Index: []